body {
  font-family: Imprima, sans-serif;
}

.logo {
  font-family: "Delius Swash Caps", cursive;
  font-size: 25px;
  font-weight: 600;
  padding-left: 0.5rem;
  color: rgb(0 0 0);
}

.sign-up,
.log-in {
  color: rgb(0 0 0);
}

.sign-up:hover {
  color: #eb034f;
  font-weight: 600;
}

.log-in:hover {
  color: #eb034f;
  font-weight: 600;
}

.image-container {
  display: flex;
  width: 100%;
  padding: 0;
}

.image {
  flex-basis: calc(100% / 3);
}

.image img {
  width: 100%;
}

.button-container {
  justify-content: center;
  display: flex;
}

.button {
  padding: 5px;
  color: #ccc;
  font-size: 1em;
}

.plan-container {
  width: 520px;
  position: relative;
  display: flex;
  margin: 80px auto;
  text-align: center;
  box-shadow: 5px 5px 20px 1px #82878b;
}

.calender {
  height: 50px;
  width: 200px;
  font-size: 1.3rem;
}

.plan-button {
  border: none;
  width: 120px;
  height: 50px;
  background-color: #eb034f;
  font-size: 25px;
}

.plan-button a {
  color: #fff;
  vertical-align: text-top;
  letter-spacing: 0.2rem;
  padding-left: 5px;
}

input[type="date"] {
  border: 1px solid #ccc;
  border-right: none;
  padding-top: 1.2rem;
  padding-left: 2.5rem;
  color: #424242;
}

input:focus {
  outline: none;
}

label {
  position: absolute;
  padding-left: 5px;
  font-size: 14px;
  font-weight: 600;
}

.calender-container {
  display: relative;
}

.login-container {
  width: 430px;
  height: 425px;
  border: 1px solid #7e7e7e;
  border-radius: 5px;
  margin: 150px auto;
  padding: 35px 18px;
  text-align: center;
}

input[type="text"],
input[type="password"] {
  width: 390px;
  height: 50px;
  border: 1px solid #7e7e7e;
  padding-left: 0.8rem;
  border-radius: 5px;
}

.submit {
  width: 390px;
  height: 50px;
  background-color: #eb034f;
  border: none;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
}

.button-container button:hover {
  background-color: #db0049;
}

input::placeholder {
  color: #b0b0b0;
}

.email {
  margin-top: 30px;
  margin-bottom: 10px;
}

.password {
  margin-bottom: 30px;
}

.line {
  width: 300px;
  border: 1px solid #7e7e7e;
  border-top: none;
  border-right: none;
  border-left: none;
  margin: 35px auto;
  margin-bottom: 5px;
}

.user {
  color: #4cbefe;
  margin-top: 0;
}

.user a:hover {
  color: #eb034f;
}

.search-container {
  position: relative;
  display: flex;
  margin-top: 5px;
}

input[type="search"] {
  width: 185px;
  height: 38.6px;
  border: 1px solid #b0b0b0;
  border-right: none;
  padding: 8px;
}

.area {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-icon {
  border: 1px solid #b0b0b0;
  border-left: none;
  padding: 9.1px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.icon-size {
  font-size: 1.2rem;
  vertical-align: text-bottom;
}

.area-menu {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 186px;
  cursor: pointer;
  border: 1px solid #b0b0b0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: none;
  background-color: #fff;
  height: 150px;
  overflow: auto;
  z-index: 10;
}

.category-menu {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 186px;
  cursor: pointer;
  border: 1px solid #b0b0b0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: none;
  background-color: #fff;
  height: 105px;
  overflow: auto;
  z-index: 10;
}

.panel {
  background-color: #fff;
  position: absolute;
  top: 180px;
  left: 80px;
  width: 450px;
  height: 720px;
  border-radius: 5px;
}

.map-container {
  margin-top: 20px;
  height: 100vh;
  background-color: pink;
}

.panel-header {
  height: 30px;
  background-color: #eb034f;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.travel-date {
  display: flex;
  justify-content: space-between;
  color: #fff;
  line-height: 30px;
  padding: 0 8px;
}

.arrow-container {
  padding-top: 2px;
}

.left-arrow {
  color: #fff;
  font-size: 1.8rem;
  margin-right: 6px;
}

.right-arrow {
  color: #fff;
  font-size: 1.8rem;
}

.hidden {
  display: none;
}

.area-item {
  border-bottom: 1px solid #ccc;
  padding: 5px 15px;
}

.area-item:last-child {
  border-bottom: none;
}

.area-item:hover {
  background-color: #e6e7e8;
}

.map-marker {
  position: absolute;
  transform: translate(-50%, -50%);
  background-image: url("https://www.nicepng.com/png/full/23-230399_google-maps-pin-png-red-map-marker-png.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 45px;
  width: 25px;
}

.infowindow {
  position: absolute;
  top: 63.5px;
  right: 0;
  width: 550px;
  background-color: #fff;
}
